/* Title Color */
/* text centered */
/* background color of main title */
h1 {
    color: darkslateblue;
    text-align: center;
    background-color: lightgrey;
}



/* for all of the following css code below */
/* Title Color */
/* text centered */
/* Font size  */

h2 {
    color: darkred;
    text-align: center;
    font-size: 18px;
}



h3 {
    color: green;
    text-align: center;
    font-size: 18px;
}



h4 {
    color: darkred;
    text-align: center;
    font-size: 18px;
}
h5 {
    color: green;
     text-align: center;
     font-size: 18px;
    }




h6 {
        color: darkred;
         text-align: center;
         font-size: 18px;
        }



        
h7 {
    color: green;
    text-align: center;
    font-size: larger;
}


h8 {
    color: darkred;
    text-align: center;
    font-size: larger;
}

h9 {
    color: green;
    text-align: center;
    font-size: larger;
}

h10 {
    color: darkred;
    text-align: center;
    font-size: larger;
}

h11 {
    color: green;
    text-align: center;
    font-size: larger;
}
h12 {
    color: darkred;
    text-align: center;
    font-size: larger;

}
h13 {
    color: green;
    text-align: center;
    font-size: larger;

}

h14 {
    color: darkred;
    text-align: center;
    font-size: larger;
    display: inline-block;

}



p {
    color: black;
    text-align: center;
    font-size: medium;
}

li::marker {
    color: red;
  }



/* curly braces {} */
/* sqaure brackets [] */
/* parentheses <> */
/* round brackets () */
/* colon : */
/* semicolon ; */
/* syntax - rules of writing ; */

  